{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Reset your password {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% else %}
        <h3>Email has been sent</h3>
        <p>
            If you have not received it please check your spam folder. <br>
            Otherwise contact us if you do not receive it in a few minutes.
        </p>
    {% endif %}
{% endblock content %}