{% extends '_base.html' %}
{% load static %}
{% block title %} Books {% endblock title %}

{% block content %}
<h1>Books list</h1>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in book_list %}
        <div class="col">
            <a href="{{ book.get_absolute_url }}" class="card h-100 text-decoration-none text-dark">
                {% if book.cover %}
                <img src="{{ book.cover.url }}" alt="Product Image" class="img-fluid bookcover">
                {% else %}
                <img src="https://via.placeholder.com/200" alt="Product Image" class="img-fluid bookcover">
                {% endif %}
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text text-muted">{{ book.author }}</p>
                <a href="#" class="btn btn-success">{{ book.price }}$ | Add to cart</a>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}